$gray-000: #181818;
$gray-100: #2a2a2e;
$gray-200: #24292e;
$gray-300: #4e4c4b;
$gray-400: #586069;
$gray-600: #bbbbbb;
$gray-700: #959da5;
$bg-white: #221F29;
$bg-gray:  #221F29;
$bg-gray-light: darken($bg-gray, 5%);
$border-gray: hsla(0,0%,100%,.1);
$border-gray-dark: $border-gray;
$black-fade-15: rgba(#fff, 0.15);
$black-fade-30: rgba(#fff, 0.3);
$text-gray: #c9c9c9;
$text-gray-dark: #f7f7f7;
$text-blue: #f27052;
$bg-blue-light: #1d1d1d;
$bg-page: #221F29;

$highlight: rgba(242, 112, 82, 0.99);
$line: #6f6e6e;
